<section class="myeduction-area">

        <div class="section-title">
            <span class="sub-title">
                From The Past
            </span>
            <h2>
                Education Till Present
            </h2>
        </div>
        <div class="container-edumain">
            <div class="row-edurow">
                <div class="col-educol1" >
                    <h1 id="edu_h1" [ngStyle]="{'padding-left.%': headder_padding_left}" style="padding-top: 5%;color: rgb(241, 247, 250);font-weight: 500;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                        {{primaryedu}}
                    </h1>
                    <p style="color: #422057FF;font-weight: 500;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                        {{primary_edu_paragraph}}
                    </p>
                    <h1 id="edu_h1" [ngStyle]="{'padding-left.%': headder_padding_left}" style="padding-top: 5%;color: rgb(241, 247, 250);font-weight: 500;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                        INTERMEDIAT EDUCATION
                    </h1>
                    <p style="color: #422057FF;font-weight: 500;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                        I have studied my intermidate education i.e my 11 th and 12 th class in Sri Chatinya junior collage,educating in such a collage is hard i couldnt grasp much knowledge up there .
                    </p>
                    <h1 id="edu_h1" [ngStyle]="{'padding-left.%': headder_padding_left}" style="padding-top: 5%;color: rgb(241, 247, 250);font-weight: 500;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                        ENGINEERING LIFE
                    </h1>
                    <p style="color: #422057FF;font-weight: 500;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                        Iam currently graduating in Vignan Instute of information and technology,studing computer science,its a fine instute which taught me much and it has provided lots of opertunites for my carrier.
                    </p>
                    
                </div>
                <div class="col-educol2">
                    <div class="container-col2_img" style="padding-bottom: 10%;">
                        <img src="assets/images/preschool.jpg" [ngStyle]="{'max-width.px': totalwidth}">
                    </div>
                </div>
            </div>
        </div>
        
    
</section>

















