<section id="about" class="about-area bg-f5eded ptb-100">
<div class="container">
    <div class="row">
        <div id="firstcol" class="col-lg-8 col-md-12">
            <div class="about-content">
                <h2>
                    
                    About Me
                    
                </h2>
                <p style="color: #606060;">
                    I was Born in Andhra Pradesh in a village called KasimKota.in my school days i got intrested in 
                    techonoloy later on i started searching about different aspects of it,slowly it turned into a passion
                    never imagined that the passion will ultimalty turn into a proffision.iam very much intrested in A.I 
                    always wanted to build an natural Language UI,and iam currently working on it.<br>
                    OK now lets talk truth....<br>
                    Iam seriously in love with Gaming,i have created many games in c++.
                </p>
                <img src="assets/images/programming.png" alt="image">
                <p style="color: #606060;">
                    Right now iam studying in Vignan Instute of Information and Techonology(A),
                    Graguating my Btech
                </p>
                <div class="btn-box">
                    <a id="button" href="#" data-toggle="modal" data-target="#contactModal" class="default-btn">Contact Me</a>
                    <a href="shanawaz0891@gmail.com" class="email">
                        shanawaz0891@gmail.com
                    </a>
                </div>

            </div>
        </div>
        <div id="secondcol" class="col-lg-4 col-md-12">
            <div class="about-info">
                <div class="d-table">
                    <div class="d-table-cell">
                        <ul>
                            <li>
                                Name:
                                <span>
                                    M.A.Shanawaz
                                </span>
                            </li>
                            <li>
                                Email:
                                <span>
                                    shanawaz0891@gmail.com
                                </span>
                            </li>
                            <li>
                                Role:
                                <span>
                                    Developer
                                </span>
                            </li>
                            <li>
                                Phone:
                                <span>
                                   7780328593
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>

   

</section>
