.languagesihaveworked{
    height: 100%;
    background-color:rgb(242, 242, 242)
}
.languagesihaveworked .row{
    opacity: 0;
}
.languagesihaveworked .languagerowopacity
{
    opacity: 1;
    transition: .5s;
    animation: ease-in-out;
}
.languagesihaveworked .col{
    @media (max-width:900px)
    {
        display: block;
    }
    display: flex;
}
.section-title .sub-title {
    display: block;
    text-transform: uppercase;
    background: linear-gradient(to left bottom,#ee0979,#fc1c62,#ff364a,#ff512f,#ff6a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
    font-family: Poppins,sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding-top: 20px;
    align-self: center;
}
.section-title h2 {
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 700;
    color: #000;
    font-family: Poppins,sans-serif;

}
.section-title{
    text-align: center;
    margin-bottom: 50px;
    max-width: 815px;
    margin-left: auto;
    margin-right: auto;
}
.languagesihaveworked .row .col .languageimage
{
    @media (max-width:1270px)
    {
        padding-right: 10px;
    }
    @media (max-width:1074px)
    {
        margin-left: 10px;
    }
    margin-left: auto;
    right: 0;
    padding-right: 130px;
}

.languagesihaveworked .row .col .languageimage{
    @media (max-width:526px)
    {
       margin-left: 100px;
    }
    @media (max-width:420px)
    {
       margin-left: 45px;
    }
    clip-path: polygon(0 0%,100% 15%,100% 100%,0 83%);
    transition: .5s;
}
#imagelang
{
    @media (max-width:1004px)
    {
        max-width: 497px;
        height:387px;
    }
    @media (max-width:1004px)
    {
        max-width: 497px;
        height:387px;
    }
    @media (max-width:530px)
    {
        max-width: 300px;
        height:300px;
    }
    width: auto;
    max-width: 600px;
    height: 450px;
    transition: .5s;
    position: relative;

}
#imagelang:hover
{
transform: scale(1.03);
transition: .5s;
}
.languagesihaveworked .row .col .languageimage:hover{
    clip-path: polygon(0 0%,100% 0%,100% 100%,0 100%);
    transition: .5s;
}
.languagesihaveworked .row .col .sec-row
{
    @media (max-width:900px)
    {
        margin-top: 198px;
        margin-left: 200px;
    }
    @media (max-width:420px)
    {
        
        margin-left: 50px;
    }
    @media (max-width:370px)
    {
        
        margin-left: 30px;
    }
   margin-top: 100px;
    align-self: center;
    margin-left: auto;
}
.languagesihaveworked .row .col .sec-row .languagettile
{
    align-self: center;
    transition: .5s;
}
.innerparagraph
{
    @media (max-width:370px)
    {
        
        opacity: 1;
    }
    opacity: 0;
    transition: .5s;
}
.languagettile:hover{
    transition: .5s;
    transform: translatey(-10%);
.innerparagraph{
    @media (max-width:420px)
    {
        
       transform: translateX(0%);
    }
    transform: translatex(-20%);
    opacity: 1;
    transition: 1.0s;
}
#lantitlelogo
{
    opacity: 1;
    transition: .5s;
    transform: translatey(-280%);
    z-index: -2;
}

}
#lantitlelogo
{
    opacity: 0;
    z-index: -1;
    height: 100px;
    position: absolute;
}
#langbottomimg
{
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
}
.languagetitlebottomimg
{
    @media (max-width:1270px)
    {
        transform: translatex(0%);
    }
    animation: ease-in-out;
    transition: .5s;
    
}
.languagesihaveworked .changeopacity
{
    opacity: 0;
    transition: .5s;
}
.languagetitlebottomimg1
{
    transform: translatex(0%);
}
.languagetitlebottomimg2{
    transform: translatex(-50%);
}