<div class="my-education-global">
    <div class="my-education-global-row">
        <div class="lftmost">
            <div class="my-education-global-main-content-innerconent-decorator">
                    
            </div>  
            <div class="square-row">
                <div class="square1">

                </div>
                <div class="square2">

                </div>
            </div>
            
        </div>
        
        <div class="my-education-global-main-content">
            <div class="my-education-global-main-content-innerconent">
                
                <div class="my-education-global-main-content-innerconent-discription">
                    <h1 class="mypast">
                        MY PAST
                    </h1>
                   <div class="pastunderline"> </div>
                   <p class="pastedu">
                    compleated my Primary education at Ravindhra Bharathi School.Intermediate at Sri chaitanya Junior Collage.and iam currently Graduating at: Vignan Instute of Information and Techonology
                   </p>
                   <h1 class="mypresent">
                    MY PRESENT
                </h1>
               <div class="presentunderline1"> </div>
               <p class="skillsihave">
                skills i have: <br>
                Web Development. <br>
                Android Development. <br>
                Windows Development.<br>
                Game Development
               </p>
                </div>
            </div>
            
        </div>
        <div class="my-education-global-image">
            <div class="fancy-vectors1" >
                <div class="small-rect1">

                </div>
                <div class="small-rect2">

                </div>

            </div>
            <div class="my-education-global-image-core">
                
                <img id="slogen" src="assets/images/education_core.jpg" alt="">
                <div class="empty">
                    
                </div>
              <div class="small-rect3"> 
                  
              </div>
            </div>
            <div class="small-rect4">

            </div>
            <div class="small-rect5">

            </div>
        </div>
    </div>
    
</div>
