<section class="projects-area">
    <div class="section-title">
        <span class="sub-title">
            From The Past
        </span>
        <h2>
            Projects i have worked
        </h2>
    </div>
    <div class="projects-backgroundimg">
        <div class="row">
            <div class="col">
                <div class="project-imgs">
                    <img src="assets/images/photo-1531297484001-80022131f5a1.jpg" style="height: 70%;width: 40%;position: absolute;z-index: -1;margin-top: 130px;">
                </div>
                <div class="inner-row">
                    <div class="inner-col">
                        <button (click)="onLeftBtnClick()" class="leftbtn-container" style="width: 50px;height: 50px;background-color: bisque;">
                            
                        </button>
                        <div class="projectone-row" [ngClass]="{'firstposlefttrans':firstposlefttrans,'firstgoingtosec':firstgoingtosec,'firstcomstomiddle':firstcomstomiddle,'firstbacktonrml':firstbacktonrml}">
                            <div class="projectone-main-langused">
                                <span style="font-size: 22px;font-family: Teko,sans-serif;font-weight: 800;color: #fff;">
                                    {{language_title}}
                                </span>
                            </div> 
                            <div class="projectone">
                                <div class="projectone-inner-row">
                                    <div class="projectone-main-img">
                                        <img src="assets/images/photo-1531297484001-80022131f5a1.jpg" id="projectone-img">
                                    </div>
                                    <div class="projectone-main-disc">
                                        <span class="projectone-main-disc-spn1">
                                            {{langguage_discreption}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="projecttwo-row" [ngClass]="{'secondtofirsttrans':secondtofirsttrans,'secondcomeback1':secondcomeback1,'secondcomeback2':secondcomeback2,'secondcomeback3':secondcomeback3}">
                            <div class="projectone-main-langused">
                                <span style="font-size: 22px;font-family: Teko,sans-serif;font-weight: 800;color: #fff;">
                                    {{language_title}}
                                </span>
                            </div> 
                            <div class="projecttwo">
                                <div class="projecttwo-inner-row">
                                    <div class="projecttwo-main-img">
                                        <img src="assets/images/photo-1531297484001-80022131f5a1.jpg" id="projecttwo-img">
                                    </div>
                                    <div class="projecttwo-main-disc">
                                        <span class="projectone-main-disc-spn2" >
                                            {{langguage_discreption}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="projectmediaquery-row" [ngClass]="{'firstmediaposlefttrans':firstmediaposlefttrans,'firstmediagoingtosec':firstmediagoingtosec,'firstmediacomstomiddle':firstmediacomstomiddle}">
                            <div class="projectone-main-langused">
                                <span style="font-size: 22px;font-family: Teko,sans-serif;font-weight: 800;color: #fff;">
                                    {{language_title}}
                                </span>
                            </div> 
                            <div class="projectone">
                                <div class="projectone-inner-row">
                                    <div class="projectone-main-img">
                                        <img src="assets/images/photo-1531297484001-80022131f5a1.jpg" id="projectone-img">
                                    </div>
                                    <div class="projectone-main-disc">
                                        <span class="projectone-main-disc-spn1">
                                            {{langguage_discreption}}{{firstmediaposlefttrans}}{{firstmediagoingtosec}}{{firstmediacomstomiddle}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <button class="rightbtn-container" style="width: 50px;height: 50px;background-color: bisque;">

                        </button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
