<div class="container" style="height:100vh; margin: 0px;">
    <div id="home" class="main-banner">
      <div class="d-table">
        <div class="d-table-cell">
          <div class="container" id="innercontainer">
            <div class="main-banner-content">
              <h1>
                <span>
                  Hi, I'M
                </span>
                M.A.Shanawaz
              </h1>
              <p>
                A FullStack Developer and also a Competative programmer, had expericence in many programming languages,
                keeping them a side the only aim is to keep learning and implementing what i have learned, had hard time 
                learning all these languages and faced many ups and downs.<br><p id="innertext1"> But the truth is ....... <br>Never Give Up!</p> 
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="shape1">
        <img src="assets/images/shape1.png" alt="image">
      </div>
      <div class="shape2">
        <img src="assets/images/shape2.png" alt="image">
      </div>
    </div>
    
    </div>