<div class="container" style="height:100vh; margin: 0px;">
    <div id="home" class="main-banner">
      <div class="d-table">
        <div class="d-table-cell">
          <div class="container" id="innercontainer">
            <div class="main-banner-content">
              <h1 class='textGlitchRGB'>
                <span>
                  Hi, I'M
                </span>
                M.A.Shanawaz
              </h1>
              <p style="font-weight: 700; font-size:20px">
               FULLSTACK DEVELOPER &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   COMPETITIVE PROGRAMMER <br><SPAN>ESPORTS GAMER</SPAN>
              </p>
              <P class="inner_about" style="font-size:20px; font-family: 'Patrick Hand', cursive;">
                Fullstack Development taught me to think creatively <BR> Competitive Programming taught me to think optimally and be patient<BR>ESports taught me to never go back on my words, belive in my self and never give up !
                <BR>IF YOU DONT LIKE THE HAND THAT FATE'S DEALT YOU WITH, FIGHT FOR THE NEW ONE, THATS MY MOTO !
              </P>
              <div class="contacticons">
                <div class="github">
                  
                  <a href="https://github.com/Shanawaz444"><img class="icon-prop" src="../../assets/images/github.png" alt=""> </a>
                </div>
                <div class="linkedin">
                  <a href="https://www.linkedin.com/in/shanawaz444/">
                    <img class="icon-prop" src="../../assets/images/linkedin.png" alt="">
                  </a>
                 
                </div>
                <div class="gmail">
                  <a href="shanawaz0891@gmail.com">
                    <img class="icon-prop" src="../../assets/images/gmail.png" alt="">
                  </a>
                  
          
                </div>
                <div class="instagram">
                  <a href="https://www.instagram.com/shan_444_/">
                    <img class="icon-prop" src="../../assets/images/instagram.png" alt="">
                  </a>

                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shape1">
        <img src="assets/images/shape1.png" alt="image">
      </div>
      <div class="shape2">
        <img src="assets/images/shape2.png" alt="image">
      </div>
    </div>
    
    </div>