.d-table {
    width: 100%;
    height: auto;
}

.d-table {
    display: table!important;
}
.d-table-cell {
    vertical-align: middle;
}

.d-table-cell {
    display: table-cell!important;
}
.main-banner-content {
    height: auto;
    @media (max-width:1158px)
    {
        max-width: 500px;
        text-align: center;
    margin-left: auto;
    margin-top: 200px;
    margin-right:auto;
    }
    max-width: 666px;
    margin-left: auto;
    margin-top: 125px;
    margin-right: 100px;
}
#innertext1{
    text-align: center;
}

.main-banner-content p{
    @media (max-width:1158px)
    {
        padding: 20px;
        font-size: 10.5px;
        margin-left: 10px;
    }
    color: #e6e6e6;
    font-size: 16.5px;
    
    margin-bottom: 15px;
    line-height: 1.8;
}
#innercontainer{
    @media (max-width:1158px)
    {
        padding: 20px;
    }  
}
.main-banner-content h1 {
    @media (max-width:1158px)
    {
        text-align: center;
        font-size: 45px;
    }
    color: #fff;
    margin-bottom: 18px;
    line-height: 1.2;
    font-size: 73px;
    font-weight: 700;
}
.main-banner-content h1 span{
    display: block;
    font-style: italic;
}
.h1{
    @media (max-width:1158px)
    {
        text-align: center;
        font-size: 45px;
    }
    font-family: Roboto,sans-serif;
}
.shape1 {
    @media (max-width:1158px) {
       display: none;
    }
    left: 0;
    bottom: 0;
}
.shape2 {
    @media (max-width:1158px) {
        display: none;
     }
    top: 0;
    right: 0;
}
 .shape2 {
    position: absolute;
    z-index: -1;
 }
 .shape1{
    position: absolute;
    z-index: -1;
}
.textGlitchRGB {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 3px 3px 0px rgb(255, 0, 0), -3px 3px 0px rgb(0, 255, 0),
      3px -3px 0px rgb(0, 0, 255);
    animation: rgb-glitch 500ms ease infinite alternate;
  }
  @keyframes rgb-glitch {
    0% {
      color: rgba(255, 255, 255, 0.5);
      text-shadow: 13px 3px 0px rgb(255, 0, 0), -3px 3px 0px rgb(0, 255, 0);
    }
    20% {
      text-shadow: 13px 3px 0px rgb(0, 255, 0), -3px 3px 0px rgb(0, 0, 255),
        3px -3px 0px rgb(255, 0, 0);
    }
    22% {
      text-shadow: 3px 3px 0px rgb(0, 255, 0), -3px 3px 0px rgb(0, 0, 255),
        3px -3px 0px rgb(255, 0, 0);
    }
    25% {
      text-shadow: 3px 3px 0px rgb(0, 255, 0), -3px 3px 0px rgb(0, 0, 255),
        3px -3px 0px rgb(255, 0, 0);
    }
    60% {
      text-shadow: 4px 2px 0px rgb(0, 255, 0), -3px 3px 0px rgb(0, 0, 255),
        3px -3px 0px rgb(255, 0, 0);
    }
    65% {
      text-shadow: 4px 2px 0px rgb(0, 255, 0), -3px 13px 0px rgb(0, 0, 255),
        13px -3px 0px rgb(255, 0, 0);
    }
    67% {
      color: rgba(255, 255, 255, 1);
      text-shadow: 4px 2px 0px rgb(0, 255, 0), -3px 13px 0px rgb(0, 0, 255),
        3px -3px 0px rgb(255, 0, 0);
    }
    90% {
      text-shadow: 3px 3px 0px rgb(0, 0, 255), -3px 3px 0px rgb(255, 0, 0),
        3px -3px 0px rgb(0, 255, 0);
    }
    92% {
      text-shadow: 0px 0px 0px none;
    }
  }
  .inner_about{
      transform: translateY(-15px);
      transition: .5s cubic-bezier();
  }
  .icon-prop
  {
      height:40px;
      width:40px;
  }
  .contacticons{
      display:flex;
      flex-direction: row;
  }
  .github{
      transition: .3s ease-in-out;
  }
  .github:hover{
      transform: scale(1.1);
  }
  .linkedin{
      margin-left: 15px;
      transition: .3s ease-in-out;
  }
  .linkedin:hover{
    transform: scale(1.1);
}
  
  .gmail{
    margin-left: 15px;
    transition: .3s ease-in-out;
}
.gmail:hover{
    transform: scale(1.1);
}
.instagram{
    margin-left: 15px;
    transition: .3s ease-in-out;
}
.instagram:hover{
    transform: scale(1.1);
}
.download_my_resume{
    color:white;
}