/* You can add global styles to this file, and also import other style files */
html,body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Roboto,sans-serif;
}
body{
    
    background-color:rgb(6, 8, 36);
  
}
canvas {
    position: absolute ;
    margin: 0px;
    width: 90vw;
    height: 90vh;
    z-index: -1;
  }